---
title: Kassiopé Project
---

<%= stylesheet_link_tag "all" %>
<head>
  <meta charset="utf-8">
</head>
<body>
  
  <div class="primary-text blog">

    <h2>
      Our next adventure will take place between January and Mai 2018 with different stages. We will regularly post updates here, on facebook and on instagram
    </h2>
    
    <br><br>

    <h3>5th March 2018</h3>
    	<br>
    	<p>Hello!</p>

    	<p>The more we spend time working at the Manav Sadhna community in Ahmedabad, the more we see how the Kassiopé project is a single tree helping an entire forest grow.</p>

    	<p style="text-indent: 3em;">Over the past three weeks we’ve continued carrying out our eye exams with children from different centers. We’ve covered two centers with a total of 60 students in need for glasses. Meanwhile, Raman (our main local coordinator) has gone in and out of the hospital, taking our elederly patients for check-ups and surgeries. This week we will be finishing the eye exams on a third community center as well as distributing glasses to them.</p>

    	<p style="text-indent: 3em;">As always we faced unexpected hardships (lots of patients not cooperating, my phone breaking down, the increasingly unbearable heat (35-40°C), various festivals and other projects that get in the way of our weekly objectives…), but also, unexpected achievements. For example, the eye check-ups that we’ve performed on the elderly at the hospital have allowed us to unearth many more pathologies than expected - some of our patients which we had originally taken to the hospital for cataract surgeries are now being treated for diabetes, high blood pressure, glaucoma and various other pathologies which would have stayed insiduously uncovered otherwise. Festivals disrupting our plans during the week have given us a few days off and rest as the heat was starting to attack our health. Other projects that Manav Sadhna is running have impeded us from working on certain days, but have also allowed us to go work on various other projects in the community.</p>


    	<p>Some other projects we’ve helped with:
    		<br>1.  Paricipating in arts & crafts projects for Manav Sadhna’s « earn and learn » program (a curriculum adapted to children who both need to help sustain their family financially, but also want to get an education).
    		<br>2.  Raising awareness about waste management issues for sudents.
    		<br>3.  Food distribution in the evenings for different slum communites
    		<br>4.  Spending time in hospitals with children receiving cancer treatments
    		<br>5.  creating a spa treatment and massage session for hardworking slum-women.</p>

		<p style="text-indent: 3em;">Just as we have been participating in other people’s projects, other volunteers have come in and out to particpate on our project. Some have helped us with translations, some have helped with transporting patients and our equipment, others with some of our eye camp’s logistics. One volunteer (a nurse) has offered to help raise awareness in classrooms about cleaning our eyes properly. And in the end all volunteers give and receive from eachother’s projects, helping one single ecosystem evolve.</p>

		<p>A heartfelt thank you for following us during this journey,
		<br>The Kassiopé Team</p>

    <br><br>

    <div class="container-fluid">

        <div class="col-md-6">
            <%= image_tag "update5mars-2.jpg", class:"img-blog-2018", alt:"HumansR" %>
            <%= image_tag "update5mars-4.jpg", class:"img-blog-2018", alt:"Humans" %>
        </div>
        <div class="col-md-6">
            <%= image_tag "update5mars-1.jpg", class:"img-blog-2018", alt:"Humans" %>
            <p>Attached are a few portraits of the people who inhabit and benefit from this beautifully orchestrated ecosystem</p>
            <%= image_tag "update5mars-3.jpg", class:"img-blog-2018", alt:"Humans" %>
            <%= image_tag "update5mars-5.jpg", class:"img-blog-2018", alt:"Humans" %>
        </div>
    </div>


    <br><br>

    <h3>7th February 2018</h3>
      <br>
      <p>Our first session is a success!</p>

      <p>Perhaps the most important thought we’ve had to start living with this week was: trust life’s obstacles to take you right where you need to be. </p>

      <p style="text-indent: 3em;">This week, life pushed our project around in many different directions, and although the wind seemed to blow us off course at first, the project now has all the light and water it needs in order to grow it roots deep and make itself sustainable.</p> 

      <p style="text-indent: 3em;">Our first day (Wednesday 31th) our slit lamp broke down, impeding us from carrying out cataract screenings. So we got a call from a supplier in China who had retailers in Ahmedabad, and by the end of the day we had an identical slit lamp to the one we’d purchased in France - all for a lot fairer price. 
      On Thursday, the lamp on the slit lamp broke down. So, by noon a technician had come to fix it. 
      That same afternoon, our autorefractometer (the machine we use to carry out our eye exams) stopped functioning correctly. So we peeled away parts on the machine’s joystick and it started working again. 
      On Friday, do to a misunderstanding we realized that the price it would take us to carry out all our surgeries would be out of our budget, and would impede any form of sustainibility for our project. So at noon, subsequent to a random conversation with one of Manav Sadhna’s founders Viren Bhai, we were put into contact with both a hospital and private clinic. After meeting them on Saturday, both offered to carry out surgeries for free and indefinetley for our patients. Not only was this a solution to our financial issue, but it was also a sustainable solution for the Kassiopé Project as it will now be possible to continue working with them indefinetely at a very low cost.</p>

      <p style="text-indent: 3em;">So after every blow we received, life smiled at us, and we succesfullly carried out screenings and eye exams for 182 patients, diagnosing 60 with cataracts, over a hundred in need of glasses, and 8 with various other pathologies.</p> 

      <p>Over the next month we will be:
      <br>1.  Taking our patients to the hospital for surgery
      <br>2.  Taking our patients to the optican for glasses.
      <br>3.  Carrying out eye tests for students in need.
      <br>4.  Preparing the 2nd session of screenings and surgeries, scheduled for April/May.</p>

      <p>May this experience continue opening our eyes just as much as you’ve been helping open the eyes of hundreds of people. </p>

      <p>A heartfelt thank you,
      <br>The Kassiopé Team</p>

      <br>
      <div class="container-fluid">

        <div class="col-md-6">
          <%= image_tag "test_visuel.jpg", class:"img-blog-2018", alt:"Matthew doing a visual acuity test" %>
          <p><br>Matthew and Fiona (our orthoptist) doing some visual acuity tests on our first patients on wednesday<br><br><br><br></p>
          <%= image_tag "matthew_et_fiona.jpg", class:"img-blog-2018", alt:"Matthew and Fiona showing the different signs a patient has to see"%>
        </div>
        <div class="col-md-6">
          <%= image_tag "fiona_lunettes.jpg", class:"img-blog-2018", alt:"Fiona adjusting a patient's glasses" %>
        </div>
        <br>
        <div class="col-md-6">
          <%= image_tag "matthew_regle_lunettes.jpg", class:"img-blog-2018", alt:"Matthew adjusting glasses" %>
        </div>
      </div>

    <br><br>
    <h3>29th January 2018</h3>
      <br>
      <p>Hello!</p> 

      <p>There are not many experiences more fulfilling than watching a mighty tree grow out of a tiny seed you’ve planted. </p>
         
      <p style="text-indent: 3em;">It’s been four days since we’ve landed in Ahemedabad and it’s been profoundly gratifying to contemplate the fruit of last year’s work. We learned upon our arrival that all the glasses we had purchased during Kassiopé’s previous eye camp have succesfully been distributed throughout the community. Furthermore, the autorefractometer (the machine donated by LeVisiologiste to help us carry out eye tests) which we had given to Manav Sadhna, had been used many times by various volunteer ophtalmologists/optometrists in order to carry out eye tests throughout different slums.</p>
        
      <p style="text-indent: 3em;">We received a heartwarming welcome from the Manav Sadhna comunity upon our arrival and have since started to pull all the required infrastructure together in order to start the project this week. <p>
      
      <p style="text-indent: 3em;">Our first optometrist is arriving tomorow night, and we will be carrying out our first cataract screenings as of Wednesday morning.
      We are planning to see 50 patients at the Tekro Community center (one of Manav Sadhna’s satelite community center’s) and if all goes well we will go on to another 70 patients the following days.</p>
        
      <p>More news will be coming soon! </p>
        
      <p>A heartfelt thank you for all the eyes that have been opened through your help,
      <br>The Kassiopé team</p>
      <br>

      <div class="container-fluid">

        <div class="col-md-6">
          <%= image_tag "Filles.jpg", class:"img-blog-2018", alt:"Girls from the center wishing us goodbye" %>
          <p><br><br>A couple of photos of the kids we've met in the slums and the different Manav Sadhna community centers<br><br><br></p>
         <%= image_tag "petite_fille_qui_marche.jpg", class:"img-blog-2018", alt:"Little girl walking in the center"%>
        </div>
        <div class="col-md-6">
          <%= image_tag "enfants_attendent.jpg", class:"img-blog-2018", alt:"A groupe of school students waiting" %>
        </div>
        <div class="col-md-6">
          <%= image_tag "conversation.jpg", class:"img-blog-2018", alt:"Conversation with a girl from the center" %>
        </div>
      </div>
      <br><br>

  </div>    


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77432133-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
