---
title: Kassiopé Project
---

<%= stylesheet_link_tag "all" %>
<head>
  <meta charset="utf-8">
</head>

<body>
  <div class="primary-text blog">
    <h3>Jour 1</h3>
    <p>
      C'est l’heure du grand départ. 8 heures du matin et on se retrouve tous à l'aéroport prêts à partir pour cette
      grande expérience humanitaire. Le vol se passe à merveille. On rencontre tous plusieurs passagers indiens chacun
      de notre côté qui sont ravis à l'idée de nous donner un premier aperçu de leur pays. <!-- Ils nous conseillent tous des endroits à visiter
      à Ahmedabad. Ils sont très ouverts et intéressés par notre projet.--> Ce voyage s'annonce vraiment bien.
      On arrive parfaitement à l'heure à Ahmedabad et une fois tous les produits anti-moustique appliqués et les
      médicaments préventifs avalés, on est prêt à découvrir ce pays, nouveau pour deux d'entre nous. Une arrivée difficile à
      5h30 dans notre petite maison qui nous servira de logement pendant presque trois semaines et un réveil encore
      plus compliqué à 9h nous font arriver dans le centre de Manav Sadhna très fatigués. Mais la fatigue ne démotive
      pas 4 jeunes garçons prêts à tout pour aller au bout de leur projet. Après une cérémonie traditionnelle d'accueil où l’on
      reçoit un joli point jaune sur le front et un petit coeur en tissu pour montrer l'amour partagé par la communauté et leur
      reconnaissance. Le premier jour est en fait un jour de découverte. Nous ne commençons pas tout de suite à travailler sur
      notre projet mais on visite la ville avec l'aide du superviseur des volontaires, un indien du nom de Ajay. Nous
      avons visité une autre partie du centre de Manav Sadhna. Un centre situé juste à côté d’un bidonville. Les jeunes
      vivent dans des conditions désastreuses mais Manav Sadhna fait tout pour les aider en leur offrant éducation et nourriture.
      Tous les enfants viennent nous serrer la main et s'agglutinent autour de nous avec des grands sourires.
      En fin de journée, nous avons pu voir les filles du centre communautaire danser sur de la musique bollywoodienne.
      La danse est ici un moyen privilégié pour se retrouver à plusieurs et se sentir exister, le tout dans une ambiance euphorique.
      C'est la gentilesse, la souplesse d'esprit et les sourires sur ces visages d'enfants qui nous ont le plus inspiré et
      motivé pour mener ce projet à bout et à bien.
    </p>
    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-6">
          <%= image_tag "heart-kids.JPG", class:"heart-kids img-blog", alt:"Enfants forment un coeur avec leurs mains" %>
        </div>


        <div class="col-xs-6">
          <%= image_tag "slum-us.JPG", class:"slum-us img-blog", alt:"Clement, Pierre et Matthew marchent dans le bidonville" %>
        </div>

      </div>

    </div>


    <h3>Jour 2</h3>
    <p>
      Après un réveil un peu compliqué dû au décalage horaire, on se retrouve avec tous les volontaires dans un
      bâtiment accueillant les projets artistiques des élèves de Manav Sadhna. Un homme du nom de Nimesh Patel
      nous accueille. Après avoir tous reçu à manger, il nous raconte son parcours peu ordinaire. Il a abandonné
      sa belle vie à Los Angeles pour rejoindre le centre de Manav Sadhna en 2002. On a tous parlé en cercle chacun
      sur des experiences qui nous ont marquées mais aussi sur les challenges que l'on tenait à relever, spirituellement,
      durant notre séjour. Puis il nous a dévoilé son talent de rappeur hip-hop, il a pris son nom d'artiste Nimo et
      nous a fait chanter avec lui avant de nous offrir son CD appelé “Empty hands”. Selon lui, l'important est d'arriver
      les mains vides et de repartir les mains vides.
      L’après-midi, c est le début du projet. Après l’installation des machines nous commençons tout d'abord par former
      les volontaires qui reprendront le projet quand on sera parti. Ils ont du mal à comprendre vite à cause de leur
      niveau d’anglais mais très vite quelques indiens parlant mieux anglais traduisent nos explications. Les volontaires
      sont en tout cas très déterminés à apprendre et le simple fait de découvrir un nouveau domaine les rend heureux.
      Une première expérience sur le terrain qui commence donc plutôt bien.

      <div class="col-xs-6">
        <%= image_tag "matthew-explain.JPG", class:"img-blog", alt:"Matthew apprend aux volontaires notre démarche de tests visuels" %>
      </div>

      <div class="col-xs-6">
        <%= image_tag "kids2.JPG", class:"img-blog", alt:"Groupe d'enfants souriants" %>
      </div>


    </p>

    <h3>Week-end 1</h3>
    <p>
      Le samedi matin, nous avons assisté à la prière hindou à 10 heures. Après plusieurs chansons
      indiennes transportant un message de paix, nous avions la possibilité de prendre la parole librement pour
      remercier qui que ce soit ou pour parler de quelque chose qui nous a ému ces derniers temps. Il faut savoir
      que la prière était hindou mais que toutes les religions et aussi les athées sont acceptées et même bienvenues.
      Peu après, le fondateur de Manav Sadhna, Viren à fait un long discours pour nous raconter son parcours un peu plus
      en détail. C'était extrêmement inspirant de voir cet homme qui a quitté sa belle vie d'ingénieur aux USA à 28 ans
      pour tout recommencer à zéro et dédier sa vie à aider les enfants des bidonvilles. Pendant 4 ans, aucun de ses projets n'aboutissent
      mais il continue de persévérer et il arrive à fonder Manav Sadhna qui accueille aujourd'hui plus de 9000 jeunes des
      bidonvilles. C'était une grande leçon de vie pour nous apprendre à toujours continuer nos projets, et qu'avec motivation,
      tout objectif peut venir à bout à condition qu'il vienne du coeur.
      Puis, l’après-midi, nous avons continué de former Rahman, le volontaire pour aider au projet kassiopé. Il est toujours
      aussi motivé pour apprendre et permettre aux enfants des bidonvilles avec lesquels il a grandi d'obtenir des lunettes
      et sa formation avance bien.
      Le soir nous avons dormi chez des amis indiens et le lendemain, un des amis du nom de Shiv nous a ammené dans un club de sport
      auquel on a joué au tennis de table, badminton et ... billard. Nous avons pu voir la différence de richesse entre la population indienne.
      Les inégalités sont tellement visibles dans ce pays. Le soir nous sommes de retour à Manav Sadhna pour reprendre des forces et nous préparer
      à notre première journée de tests visuels sur les enfants.

    </p>

    <div class="col-xs-6">
      <%= image_tag "viren-reunion.JPG", class:"img-blog", alt:"Reunion du samedi matin autour du fondateur Viren" %>
    </div>

    <div class="col-xs-6">
      <%= image_tag "heart-tong.JPG", class:"img-blog", alt:"Coeur avec les tongs des enfants dans l'école" %>
    </div>

    <h3>Jour 5</h3>
    <p>
      C’est le premier jour de tests. On ne sait pas réellement à quoi s’attendre
      dans l'école de sankharbhuvan, le premier centre de notre projet. Après une courte cérémonie de bienvenue,
      on installe les machines et on se lance. Le matin, nous ne sommes pas encore vraiment prêts et on effectue seulement
      5 tests sur les enfants. Mais après un repas à Manav Sadhna et une réflexion sur comment mieux effectuer les tests,
      on repart plein d'ambition. Et l’après-midi, on effectue 17 tests. Pas mal pour un début.

    </p>

    <div class="col-xs-12">
      <%= image_tag "slum-pano.JPG", class:"img-blog", alt:"Bidonville du premier community center en panorama" %>
    </div>

    <h3>Jour 6</h3>
    <p>
      C’est le deuxième jour au centre de sankharbhuvan. On a bien pris le rythme des consultations et on passe à
      deux tests sur les enfants simultanément. En même temps, on continue de former les volontaires qui continueront
      le projet. Maxime forme quelqu'un qui s'occupe de la logistique tandis que Clément apprend à un autre volontaire
      à utiliser l’autorefractomètre. De leur côté, Pierre et Matthew forment deux volontaires a réaliser des tests de
      vision de loin et de près. La machine est bien huilée et à la fin du deuxième jour dans le premier centre, on a
      effectué des tests sur tous les enfants. Avec 60 tests en tout, le résultat est bien au dessus de nos espérances.
      Pour fêter ca, on va manger tous les 4 dans un restaurant typique indien où on découvre pleins de nouveaux
      produits comme le chicken tandoori.

    </p>

    <div class="col-sm-6">
      <%= image_tag "eye-tests.JPG", class:"img-blog", alt:"Clement et Matthew font les tests visuels sur des enfants" %>
    </div>

    <div class="col-sm-6">
      <%= image_tag "mirch-masala-group.jpg", class:"img-blog", alt:"Photo de notre groupe au restaurant Mirch Masala" %>
    </div>

    <h3>Jour 7</h3>
    <p>
      Après avoir fini le premier centre secondaire de Manav Sadhna, on se dirige vers le centre de Bah Sanshar
      pour continuer notre mission. Le centre est encore au milieu d’un bidonville mais il est beaucoup plus grand.
      Après l’habituelle cérémonie de bienvenue, on se met tout de suite au travail. Les consultations s’enchaînent rapidement.
      Les enfants sont très compréhensifs et ça nous facilite la tâche.
      À la fin de la journée, on va avec deux autres volontaires du centre dans un bidonville près de nos habitations.
      Elles nous présentent une fille qu’elles ont rencontrées et on se fait inviter à prendre le thé. On voit bien le
      mode de vie difficile des habitants des bidonvilles mais les enfants ont l’air tellement heureux de nous voir que
      ça redonne le sourire à tout le monde. Le soir, notre petit groupe se retrouve dans un café créé par Manav Sadhna
      en 2005 : le Séva Café. Le principe est très intéressant: il n'y a pas de prix sur la nourriture mais chacun donne ce qu’il veut
      à la fin de repas, ce “don” sera distribué aux personnels du restaurant qui sont volontaires.
    </p>

    <div class="col-xs-6">
      <%= image_tag "slum-dirty.JPG", class:"img-blog", alt:"Bidonville" %>
    </div>
    <div class="col-xs-6">
      <%= image_tag "invitation-slum.jpg", class:"img-blog", alt:"Photo de notre groupe invité au bidonville où on nous a servi du thé masala délicieux" %>
    </div>

    <h3>Jour 8</h3>
    <p>
      Le deuxième jour dans le centre de Ban Sanshar se déroule à merveille. Les enfants sont toujours aussi adorables et très coopératifs
      et on continue rapidement les tests. Pendant ce temps, Matthew part avec un autre volontaire en direction d’un des hôpitaux d’Ahmedabad
      rencontrer docteur Shah une ophtalmologiste qui accepte de nous aider dans notre projet. Pendant 1h30 tous les matins, elle et ses
      collègues peuvent accueillir une dizaine d'enfants pour vérifier nos tests et ensuite prescrire des lunettes. L’après-midi, après avoir
      fini le deuxième centre, on discute avec Shirish une des personnes qui gère Manav Sadhna pour essayer de trouver des opticiens qui
      pourraient nous vendre des lunettes au meilleur prix. Enfin pour finir la journée, on se rend dans un grand mall, le Alpha One Mall pour faire
      le plein de Masala Tea, le thé local qu'on déguste tous les jours ici, ainsi que de vêtements indiens.
    </p>
    <div class="col-xs-12">
      <%= image_tag "children-sponsor.jpg", class:"img-blog", alt:"Tous les enfants de l'école portent les affiches de nos partenaires" %>
    </div>

    <h3>Week-end 2</h3>
    <p>
      Après une grasse-matinée bien méritée après le travail fourni cette semaine, on prend un rickshaw pour rentrer au centre de Manav Sadhna.
      On mange en vitesse le repas préparé par les volontaires et on va installer les machines pour entraîner Rahman, le volontaire qui
      continuera le projet une fois qu'on sera parti. Mais avant cela on rencontre un homme qui nous montre ces talents de dessin et qui
      nous explique que par la méditation et la détermination, il est devenu ambidextre ce qui lui permet de faire des dessins très complexes.
      Ensuite on commence donc à faire des tests sur les enfants et on se concentre particulièrement sur la formation de Rahman. Il apprend
      bien et progresse très vite. Puis on retourne chez Shiv, l'ami qui nous accueille le week-end. Après un repas typique indien, on se
      couche tôt pour se préparer à la journée du lendemain.
      Le dimanche, c'est un réveil difficile à 5h30 qui nous fait commencer la journée. En effet on comptait visiter un lac à 1 heure d'Ahmedabad avec
      un des volontaires rencontré au Seva Café. Mais, grosse désillusion, à 6heures, il nous appelle pour nous dire qu'il pleut
      trop et qu'on ne pourra pas y aller. On se recouche donc vite et on se relève vers midi pour aller visiter des temples et des lieux ou les
      rois indiens habitaient. On commence par le Adalaj step-well (photo en haut à droite) qui une des rares architectures hindou-musulmane, construite en 1499,
      où les rois et reines allaient se nettoyer dans les bains et qui accuellaient également des voyageurs, notamment des commerçants.
      Puis, on enchaine avec le Gurudwara Gobind Dham, gurudwara étant le lieu sacré de la religion Sikh, dans lequel nous étions tous coiffés d'un bandana
      orange. Enfin on visite le Vaishnodevi Temple qui est une reconstitution d'un temple hindou situé dans les montagnes.
      Après cela, on rentre chez la mère du correspondant qui nous a montré ces temples et l'on fini notre journée avec un repas indien.
    </p>
    <div class="col-sm-6">
      <%= image_tag "tunique.jpg", class:"img-blog", alt:"Tuniques indiennes" %>
    </div>
    <div class="col-xs-6">
      <%= image_tag "adalaj-step-well.jpg", class:"img-blog", alt:"Adalaj step-well" %>
    </div>

    <div class="col-sm-6">
      <%= image_tag "sikh-bandana.jpg", class:"img-blog", alt:"Le groupe kassiopé avec les bandanas de la religion Sikh" %>
    </div>
    <div class="col-xs-6">
      <%= image_tag "sikh-temple.jpg", class:"img-blog", alt:"Temple Sikh" %>
    </div>

    <h3>Jour 11</h3>
    <p>
      Le lundi matin, on se réveille assez tôt pour avoir le temps d'être à l'heure à Manav Sadhna. On prend donc un rickshaw pour rentrer
      et on commence directement les tests sur les plus jeunes enfants. Tout se déroule comme on le veut même si on est un peu plus fatigue
      que d'habitude. Mais le thé masala qu'on nous ramène nous permet de nous donner un boost. Grâce à cela on finit tous les jeunes enfants
      du centre dès le matin. Comme d'habitude, on mange au centre et on continue l'après-midi avec les adolescents. Puis le soir, avec plusieurs
      volontaires, on se rend dans un restaurant indien qui s'appelle "mirch masala". C'est la deuxième fois qu'on y va mais l'endroit nous plaît
      toujours autant. Comme on peut dormir plus longtemps le lendemain, on regarde un film ensemble avant d'aller se coucher pour continuer
      notre mission humanitaire le lendemain.
    </p>
    <div class="col-sm-5">
      <%= image_tag "manav-food.jpg", class:"img-blog", alt:"Repas du midi à Manav Sadhna" %>
    </div>
    <div class="col-sm-7">
      <%= image_tag "mirch-masala-food.jpg", class:"img-blog", alt:"Diner au restaurant Mirch Masala" %>
    </div>


    <h3>Jour 12</h3>
    <p>
      Ce mardi est une journée plutôt tranquille pour nous. On doit s'occuper des quelques élèves restants du centre de Manav Sadhna.
      Le matin on commence donc à 9h30 pour s'occuper de 7 élèves seulement. Comme on a du temps avant le repas du midi, on decide donc
      d'aller acheter des tuniques indiennes dans la boutique de Manav. Après manger, on finit les tests sur les adolescents puis on
      s'occupe des différents professeurs et personnes âgées travaillant pour le centre. Le soir, la mère d'une des volontaires nous
      invite avec quelques autres personnes pour un repas au Hyatt hotel. C'est un hotel 5 étoiles très luxueux et ce changement
      d'ambiance nous marque beaucoup. On découvre réellement les différences sociales et financières entre les indiens.
    </p>
    <div class="col-sm-7">
      <%= image_tag "kids-pierre-clement.jpg", class:"img-blog", alt:"Photo de Pierre et Clément avec des enfants de l'école" %>
    </div>
    <div class="col-xs-5">
      <%= image_tag "monkey.JPG", class:"img-blog", alt:"Singe se baladant autour du centre" %>
    </div>
    <div class="col-sm-6">
      <%= image_tag "hyatt-group.jpg", class:"img-blog", alt:"Notre groupe au Hyatt hotel" %>
    </div>
    <div class="col-xs-6">
      <%= image_tag "hyatt-food.jpg", class:"img-blog", alt:"Repas au restraurant du Hyatt hotel" %>
    </div>

    <h3>Jour 13</h3>
    <p>
      Aujourd'hui, on retourne dans le premier centre pour effectuer des tests de lecture à des enfants qui ont parfois du mal à lire,
      ces tests s'effectuent assez rapidement car nous n'avons pas besoin d'utiliser la machine. La journée se finissant assez tôt, on
      prend le temps de visiter le Iskcon Temple, assez réputé à Ahmedabad, dans lequel les fresques murales nous envoûtent, on se procure
      également l'ouvrage Gita, qui est en quelque sorte la bible de l'hindouisme, riche en enseignements pas seulement pour les croyants
      mais également concernant des sujets philosophiques touchant le matérialisme, l'altruisme et le Karma.
      En rentrant, on retourne dans le bidonville dans lequel nous avions pris un thé masala mercredi dernier, avec un ballon de foot,
      et l'on se met à jouer avec les garçons et même si le langage nous sépare, le sport nous rassemble. Ce jour de pluie, nous nous
      amusons à jouer dans la boue ce qui nous fait oublier le temps qui passe et notre rendez-vous pour notre moment de méditation chez
      un habitant près de chez nous, où nous allons, une fois de plus, chercher à oublier le temps et à se concentrer sur l'instant présent.
      Après un long moment, la cloche sonne et annonce la fin de la méditation, on nous dira plus tard que nous avions méditer pendant 1 heure.
      Des participants lisent alors un même extrait de texte, l'un en hindi, l'autre en anglais, concernant l'égo. Ensuite chacun prend la “pierre”
      de parole et partage ses pensées concernant cet égo. On dine ensuite un repas offert par le propriétaire que nous ne connaissions même pas
      et on échange avec quelques invités, notamment 2 américains qui connaissent également Manav Sadhna.
    </p>

    <div class="col-xs-7">
      <%= image_tag "env-tests.png", class:"img-blog", alt:"Tests de lecture au centre de filles" %>
    </div>
    <div class="col-xs-5">
      <%= image_tag "gandhi-meditating.jpg", class:"img-blog", alt:"Tableau de Gandhi en pleine méditation" %>
    </div>

  <h3>Jour 14</h3>
  <p>
    Comme ce matin nous n'avons pas de tests à faire on decide d'aller à la prière du matin pour partager un moment
    avec tout le staff de Manav Sadhna. Puis on travaille un peu sur le projet avant de déjeuner avec tous les autres
    volontaires. L'après-midi, on commence les tests sur un nouveau centre juste à côté de notre maison. C'est un
    internat composé uniquement de filles. Tous les élèves sont très gentils et patients et ils comprennent vite
    ce qu'on attend d'eux. En fin de journée on a effectué plus de 35 tests et Rahman à ou s'entraîner comme il
    le fallait. Le soir, avec tous les autres volontaires, on se dirige vers un restaurant typiquement indien:
    le Vishala restaurant. Le cadre est fait pour qu'on se sente dans un endroit traditionnel et on se fait
    accueillir directement par un spectacle de danse. On se retrouve même à danser avec eux à la fin. Ensuite
    on passe tous à table. On est servi sur des grandes feuilles séchés plusieurs plats indiens. Et dès qu'on
    finit un plat, on se fait reservir. À la fin, on assiste à un spectacle de marionnettes puis on à le droit
    à une boule de glace à la rose ainsi que des petits cadeaux. Tout le monde est donc très content de cette
    soirée qui s'est très bien déroulée.
  </p>

  <div class="col-xs-6">
    <%= image_tag "vache-tuktuk.jpg", class:"img-blog", alt:"Une vache marche à côté d'un tuk-tuk" %>
  </div>
  <div class="col-xs-6">
    <%= image_tag "vishallah.jpg", class:"img-blog", alt:"Repas au restaurant Vishallah" %>
  </div>

  <h3>Retour en France</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.644980319000852%26type%3D3&width=500" width="500" height="816" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
      <div class="col-xs-6">
        <%= image_tag "screen-pdf-essential.png", class:"", alt:"Essentiel de notre voyage en une page", width:"560px", height:"800px" %>
      </div>
    </div>
  </div>


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77432133-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
