---
title: Kassiopé Project
---

<%= stylesheet_link_tag "all" %>
<head>
  <meta charset="utf-8">
</head>

<body>

  <div id="members">
    <div class="container">
      <div class="row">
        <% data.members.each do |member| %>
          <div class="col-xs-6 col-md-3">
            <div class="description">
              <%= image_tag member.image_file, class: "photo-us img-circle" %>
              <h3><%= member.name %> </h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="about-us-text primary-text">

    <h2>Short presentation</h2>
    <p> <%= t(:presentation) %> </p>
    <h2>Our target</h2>
    <p> <%= t(:target) %> </p>
  </div>

</body>
