---
title: Kassiopé Project
---

<%= stylesheet_link_tag "all" %>
<head>
  <meta charset="utf-8">
</head>
<body>
    <div id="wrapper">
      <h1 class="slideExpandUp">Our Kassiopé Project</h1>
      <!-- Button trigger modal -->
      <div class="arrow text-center">
        <a href="#issue">
          <i class="fa fa-angle-down pulse" style="font-size: 90px; color: black;"></i>
        </a>

      </div>
    </div>


      <div id="issue">
        <h2>What is the issue  </h2>
        <h4>1.000.000.000 people suffer from refractive error !</h4>
        <div class="container-fluid">
          <div class="row">
            <div class="challenge scrollReveal feature col-md-4 col-sm-6 col-xs-12">

              <%= image_tag "rub.svg", width: "100", height: "100", class: "rubik-img logo-img" %>
              <p>Every daily task becomes a challenge !</p>
            </div>

            <div class="read scrollReveal feature col-md-4 col-sm-6 col-xs-12">
              <%= image_tag "read-book-logo.svg", width: "100", height: "100", class: "book-img logo-img" %>
              <p>Studying results impossible !</p>
            </div>

            <div class="glasses scrollReveal feature col-md-4 col-xs-12">
              <%= image_tag "glasses.svg", width: "150", height: "100", class: "glasses-img logo-img" %>
              <p>Glasses are not affordable !</p>
            </div>
          </div>

          </div>

      </div>

      <div id="action">
        <h2>Our action in Ahmedabad</h2>
        <div class="container-fluid">
          <div class="row">
            <div class="action-text col-md-8 col-xs-12">
              <ul>
                <li>Our project will take place during the summer break of 2016</li>
                <li>Provide the students of the center with free eye tests</li>
                <li>Order glasses from local opticians for the students in need of eye corrections</li>
                <li>Teaching members of Manav Sadhna how to perform an eye test</li>
                <li>Elaborate a collaboration between Manav Sadhna and donors for a monthly supply of glasses to the community</li>
                <li>In that way : Consolidate our project on the long run</li>
              </ul>
            </div>

            <div class="action-img text-center col-md-4 col-xs-12">
              <%= image_tag "fille.png", width: "500", height: "300", class: "img-thumbnail" %>
            </div>

          </div>
        </div>
      </div>

      <div id="us">
        <h2>Let's talk about us !</h2>
        <div class="container-fluid">
          <div class="row">
            <div class="us-text col-md-8">
              <ul>
                <li>Kassiopé is a non-lucrative association aimed at offering free eye care to the most disabled</li>
                <li>It was created in June of 2015 by a group of six french students, all of whom study at the Lycée International of St.Germain en Laye</li>
                <li>Primary target : Unearth diabetic retinopathy in regions lacking with eye doctors</li>
                <li>Already implanted in France where the number of ophtalmologists has immensely decreased, we deciced to export us to India</li>
                <li>Two of us, having already been to India and taught in one of the schools near the Gandhi Ashram, imagined a project of offering free eye tests and glasses to the numerous students, especially children</li>
                <li>Kassiopé is associated to two companies : LeVisologiste & MXOphtalmic who can offer cheap(er) equipment, supervise our projects and most importantly, make us look credible and trustworthy to future professional partners</li>
              </ul>
            </div>

            <div class="us-img col-md-4">
              <%= image_tag "morvan.jpg", class: "img-thumbnail" %>
            </div>

          </div>

        </div>
      </div>

    </div> <!--Close id homepage -->


    <div id="donation" style="text-align:center">
      <a target="_blank" href="https://www.gofundme.com" class="btn btn-warning btn-lg active" role="button">I support Kassiopé</a>
    </div>

    <div class="footer">

    </div>



    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.0.9/scrollreveal.min.js"></script>

  </body>
